.finished_tasks_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 28px;
  padding-bottom: 110px;
  p {
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    line-height: 16.94px;
  }
}

.finished_tasks {
  display: flex;
  justify-content: space-between;
  background: var(--color-primary);
  border: 1px solid var(--color-accent);
  height: 4.5625rem;
  padding: 21px 26px;
  border-radius: 8px;
}

.finished_tasks_left {
  display: flex;
  width: 100%;
  gap: 24px;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #2d9cdb;
    border-radius: 50%;
    border: 1px solid var(--color-secondary);
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;
    &:hover {
      filter: brightness(95%);
      transition: all 0.2s ease-in-out;
    }
    svg {
      height: 12px;
      width: 12px;
    }
  }
  h3 {
    font-size: 14px;
    font-weight: 700;
    color: #bdbdbd;
    line-height: 16.94px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    color: #bdbdbd;
    line-height: 14.52px;
    text-decoration: line-through;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}
